.athlete-slider {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;

  .flickity-enabled:focus, .flickity-viewport:focus {
    outline: none;
  }

  .previous, .next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    transition: all 0.2s ease;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    svg {
      width: 20px;
      height: auto;

      path{
        fill: $purple;
      }
    }
  }

  .previous {
    left: 0px;
  }

  .next {
    right: 0px;
  }


  &-title {
    @include title();
    font-size: 60px;
    color: white;
    margin-bottom: 25px;
  }

  &-subtitle {
    @include content();
    color: white;
    margin-bottom: 100px;
  }

  &-slides {

    text-align: center;
    position: relative;

    .is-selected {
        pointer-events: all;

      .athlete-slider-slides-item__image {

        img {
          width: 70%;
          height: auto;
        }

        &:before {
          content:'';
          position: absolute;
          height: 108%;
          width: 108%;
          border: 1px solid red;
          border-radius: 8px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .athlete-slider-slides-item__name {
        display: block;
      }
    }

    &-item {
      pointer-events: none;

      &:hover {
        cursor: pointer;
      }

      &[data-color="yellow"] {
        .athlete-slider-slides-item__image {
          background-color: rgba(255, 208, 88, 0.1);

          &:before {
            border-color: rgba(255, 208, 88, 1)
          }
        }

        .athlete-slider-slides-item__name {
          color: rgba(255, 208, 88, 1);
        }
      }

      &[data-color="green"] {
        .athlete-slider-slides-item__image {
          background-color: rgba(100, 223, 199, 0.1);

          &:before {
            border-color: rgba(100, 223, 199, 1)
          }
        }

        .athlete-slider-slides-item__name {
          color: rgba(100, 223, 199, 1);
        }
      }

      &[data-color="purple"] {
        .athlete-slider-slides-item__image {
          background-color: rgba(131, 56, 236, 0.1);

          &:before {
            border-color: rgba(131, 56, 236, 1)
          }
        }

        .athlete-slider-slides-item__name {
          color: rgba(131, 56, 236, 1);
        }
      }
      margin: 0 30px;
      text-align: center;
      &__image {
        background-color: red;
        position: relative;
        width: 230px;
        height: 230px;
        margin: 0 auto 30px auto;
        transition: all 0.2s ease;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          path {
            fill:red;
          }
        }
      }

      &__name {
        @include primarySubtitle();
        font-size: 23px;
        color: #8338ec;
        display: none;
      }

      &__birthdate, &__handicap, &__sport, &__history, &__id, &__colorcode, &__colorrgba, &__town, &__medalicon {
        display: none;
      }
    }

  }
}
