.form {
  color: white;

  input, textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin: 20px;
    padding: 15px 20px;
    background-color: $gray-dark;
    color: $white;
    border: none;
    border-radius: 10px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba(255,255,255,0.2);
    }
  }

  input {
    width: 260px;
    height: 30px;
    &[type=number] {
      width: 310px;
    }
  }



  h2 {
    margin: 80px 0 40px 0;
    font-family: 'Calistoga';
    font-size: 60px;
    text-align: center;
  }
  h3 {
    font-family: 'Montserrat Medium';
    font-size: 30px;
    text-transform: uppercase;
  }

  .steps {
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 0 auto 60px auto;
      padding-bottom: 20px;
      .step {
          display: flex;
          width:50px;
          height:50px;
          margin: 10px;
          border: solid 4px $gray-dark;
          border-radius: 50%;
          font-family:'Montserrat Medium', sans-serif;
          font-size: 30px;
          color: $gray-dark;
          transition: all .3s ease-in-out;

          &-active {
              width:60px;
              height:60px;
              margin: 20px;
              box-shadow: 0 0 12px 0 $purple;
              border-color: $purple;
              font-size: 40px;
              color: $purple;
          }
          span {
              display: flex;
              margin: auto;
          }
      }
      .separator {
        width: 100px;
        height: 4px;
        background-color: $gray-dark;
      }
  }

  .inputs {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-500%, -500%);
    display: flex;
    width: fit-content;
    margin: auto;

    &-active {
      transform: translate(-50%, calc(-50% + 80px));
    }

    &-1 {
      opacity: 1;
      .inputs-group {margin-right: 0;}
    }

    &-2 {
      width: 80%;
      .inputs-group {
        max-width: unset;
        input {
          margin-left: 0;
          &:first-of-type {
            margin-bottom: 80px;
          }
        }
      }
    }

    &-4 {
      input {
        margin-left:0;
        &[type=number] {
          width: 160px;
        }
        &:last-child {
          margin-right: 20px;
        }
      }

      .inputs-group {
        max-width: unset;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
      max-width: 620px;
      margin-right: 80px;

      textarea {
        width: calc(100% - 20px);
        max-height: 90px;
        margin-left: 0;
      }

      select {
        position: relative;
        width: 310px;
        height: 75px;
        margin-top: 20px;
        padding: 20px;
        background-color: $gray-dark;
        color: $white;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        -webkit-appearance: none;
        appearance: none;

        &:focus {
          outline: none;
        }
      }
    }

    &-row {
      display: flex;
      flex-direction: row;

      input:first-of-type {
        margin-left: 0;
      }
    }
  }

  .panel {
    //display: flex;
    display: none;
    margin: 30px auto 0 auto;
    a {
      text-decoration: none;
      color: $white;
    }
    .button {
      padding: 15px 40px;
      border: 2px solid $white;
      border-radius: 70px;
      text-transform: uppercase;
      font-family: 'Montserrat Medium', sans-serif;
      font-size: 15px;
      position: relative;
      z-index: 1;

      &:first-child {
        margin-right: 40px;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: darken($gray-dark, 10%);
        transform: scaleX(0);
        transition: transform .3s;
        transform-origin: center;
        z-index: -1;
        border-radius: 20px
      }

      &-purple {
        border: none;
        background-color: $purple;
        &:before {
          background-color: darken($purple, 10%);
        }
      }

      &:hover {
        cursor: pointer;
        &:before {
          transform: scaleX(1);
        }
      }
    }
  }
}
