.loading-screen {
  color: black;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &_view1, &_view2, &_view3 {
    width:100%;
    height: 100%;
    position: absolute;
  }

  &_view1 {
    background-color: $green;
  }

  &_view2 {
    background-color: $red;
    top: 0;
    right: -100%;
  }

  &_view3 {
    background-color: $yellow;
    bottom: -100%;
  }

  &-icons {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__sport-icon {
      width: 200px;
      height: auto;
    }
  }
}
