#worldmap {
  transform: scale(.8);

  .q0-7{fill: $green-0;}
  .q1-7{fill: $green-10;}
  .q2-7{fill: $green-20;}
  .q3-7{fill: $red-30;}
  .q4-7{fill: $red-40;}
  .q5-7{fill: $red-50;}
  .q6-7{fill: $red-60;}
  .q7-7{fill: white;}
  path {
    transform-origin: center;
    transition: .3s fill ease-in-out;
    stroke: black;
    stroke-width: .125px;
    &:hover {
      fill: white;
    }
  }
  #dFR {
    &:hover {
      cursor: pointer;
    }
  }
  #legendaxis {
    path, line {
      display: none;
    }
    text {
      color: white;
    }
  }
  .tooltip {
      position: absolute;
      text-align: center;
      padding: 40px 20px;
      width: 275px;
      background-color: $gray;
      border: 1px solid $white;
      border-radius: 20px;
      pointer-events: none;

    h3 {

    }
  }
}
