.worldmap {
  position: relative;

  transform: scale(.8);

  .q0-7{fill: $white;border: 1px solid $white;}
  .q1-7{fill: $purple-0;border: 1px solid $purple-0;}
  .q2-7{fill: $purple-10;border: 1px solid $purple-10;}
  .q3-7{fill: $purple-20;border: 1px solid $purple-20;}
  .q4-7{fill: $purple-30;border: 1px solid $purple-30;}
  .q5-7{fill: $purple-40;border: 1px solid $purple-40;}
  .q6-7{fill: $purple-50;border: 1px solid $purple-50;}
  .q7-7{fill: $purple-60;border: 1px solid $purple-60;}

  svg {
      overflow: initial;
  }
  path {
      transform-origin: center;
      transition: .3s fill ease-in-out;
      stroke: black;
      stroke-width: .125px;
      &:hover {
          cursor: pointer;
      }
  }
  #legendaxis {
      path, line {
          display: none;
      }
      text {
          color: $white;
      }
  }
  .tooltip {
      opacity: 0;
      position: absolute;
      pointer-events: none;
      border: 1px solid red;

      &-wrapper {
      }

      &-content {
          text-align: center;
          color: $white;
          padding: 20px 30px 10px 30px;
          width: fit-content;
          background-color: $gray;
          border-radius: 20px;
          h3 {
            font-family: 'Calistoga', sans-serif;
            font-size: 22px;
          }
          p {
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
          }
      }

      &-indicator {
          position: absolute;
          top: 0;
          left: 0;
          border-color: transparent;

          .straight {
            position: absolute;
            top: -30px;
            left: 40px;
            width: 150px;
            border-bottom: 1px solid;
          }
          .diag {
              position: absolute;
              top: -12px;
              left: -2px;
              width: 50px;
              transform: rotate(-45deg);
              border-bottom: 1px dashed;
          }
          .circle {
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid;
          }

          &-0 {.straight, .diag, .circle{border-color: $purple-60;}}
          &-1 {.straight, .diag, .circle{border-color: $purple-50;}}
          &-2 {.straight, .diag, .circle{border-color: $purple-40;}}
          &-3 {.straight, .diag, .circle{border-color: $purple-30;}}
          &-4 {.straight, .diag, .circle{border-color: $purple-20;}}
          &-5 {.straight, .diag, .circle{border-color: $purple-10;}}
          &-6 {.straight, .diag, .circle{border-color: $purple-0;}}
          &-7 {.straight, .diag, .circle{border-color: $white;}}
      }
  }
}
