@font-face {
  font-family: "Calistoga";
  src: url("../assets/fonts/Calistoga-Regular.woff2") format("woff2")
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2")
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2")
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../assets/fonts/Montserrat-Medium.woff2") format("woff2")
}


