// -------------- COLORS
$gray        : #333333;
$white       : #FFFFFF;

$purple      : #8338EC;
$green       : #64DFC7;
$yellow      : #FFD058;

$purple-0    : #E8DAFB;
$purple-10   : #D1B6F8;
$purple-20   : #BB92F4;
$purple-30   : #A46EF1;
$purple-40   : #8E4AED;
$purple-50   : #7833D7;
$purple-60   : #6029AC;

$gray-medium : #989898;
$gray-dark   : #404040;

$red-30     : #F4DFE4;
$red-40     : #EDA9B9;
$red-50     : #EF8EA2;
$red-60     : #EF5166;

// -------------- LAYOUT
$gutter-l   : 80px;

//responsive variables
$screen1920: 1920px;
$screen1480: 1480px;
$screen1280: 1280px;
$screen1100: 1100px;
$screen1024: 1024px;
$screen980: 980px;
$screen768: 768px;
$screen700: 768px;
$screen576: 576px;
$screen480: 480px;
$screen320: 320px;
