// -------------- COLORS
$gray       : #333333;
$white      : #FFFFFF;

$red        : #FF455E;
$green      : #64DFC7;
$yellow     : #FFD058;

$green-0    : #64DFC7;
$green-10   : #A2EADC;
$green-20   : #D4F4EC;

$red-30     : #F4DFE4;
$red-40     : #EDA9B9;
$red-50     : #EF8EA2;
$red-60     : #EF5166;
