// -------------- COLORS
$gray       : #333333;
$white      : #FFFFFF;

$yellow : #FFD058;
$gray-medium : #989898;
$gray-dark : #404040;

/* gutter*/

$gutter-l : 80px;
$red        : #FF455E;
$green      : #64DFC7;

$green-0    : #64DFC7;
$green-10   : #A2EADC;
$green-20   : #D4F4EC;

$red-30     : #F4DFE4;
$red-40     : #EDA9B9;
$red-50     : #EF8EA2;
$red-60     : #EF5166;
