// Base
@import 'base/reset';
@import 'base/variables';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/global';

// Components
@import 'components/characters';
@import 'components/message';
@import 'components/loading-screen';
@import 'components/worldmap';
@import 'components/hearings';
@import 'components/homescreen';

// Layouts
@import 'layouts/conversation';

*{
  margin: 0;
  padding: 0;
}
html,body{
  min-height: 100%;
}
body {
  overflow: hidden;
  background-color: $gray;
}
#app{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1, h2, h3 {
  margin: 0;
}
