<div class="athlete-slider">
    <h2 class="athlete-slider-title">
        Les 12 athlètes paralympiques français
    </h2>
    <div class="athlete-slider-wrapper">
        <div class="athlete-slider-slides">
            <div class="athlete-slider-slides-item" data-color="purple">
                <div class="athlete-slider-slides-item__image">

                </div>
                <div class="athlete-slider-slides-item__name">
                    Thomas CLARION
                </div>
            </div>

            <div class="athlete-slider-slides-item" data-color="green">
                <div class="athlete-slider-slides-item__image">

                </div>
                <div class="athlete-slider-slides-item__name">
                    Benjamin DAVIET
                </div>
            </div>

            <div class="athlete-slider-slides-item" data-color="yellow">
                <div class="athlete-slider-slides-item__image">

                </div>
                <div class="athlete-slider-slides-item__name">
                    Marie BOCHET
                </div>
            </div>

            <div class="athlete-slider-slides-item" data-color="purple">
                <div class="athlete-slider-slides-item__image">

                </div>
                <div class="athlete-slider-slides-item__name">
                    Cécile HERNANDEZ
                </div>
            </div>

            <div class="athlete-slider-slides-item" data-color="green">
                <div class="athlete-slider-slides-item__image">

                </div>
                <div class="athlete-slider-slides-item__name">
                    Arthur BEAUCHET
                </div>
            </div>
        </div>


    </div>
</div>
