<div class="athlete-slider">
    <h2 class="athlete-slider-title">
        Les 12 athlètes paralympiques français
    </h2>
    <div class="athlete-slider-wrapper">
        <div class="athlete-slider-slides">

        </div>
    </div>
    <div class="athlete-item">
        <span class="athlete-item-close"></span>
        <span class="athlete-item-backgroundname">
            BENJAMIN<br>
            DAVET
        </span>
        <div class="athlete-item-profile" style="background-image: url('/assets/images/daviet.jpg')">
            <div class="athlete-item-profile__icon">
                <img src="/assets/images/skiing.svg">
            </div>
        </div>
        <div class="athlete-item-description">
            <div class="athlete-item-description-sport">
                BIATHLON
            </div>
            <div class="athlete-item-description-name">
                BENJAMIN DAVIET
            </div>
            <div class="athlete-item-description-datas">
                <div class="athlete-item-description-medals">
                    <p class="athlete-item-description-title">MEDAILLES</p>
                </div>
                <div class="athlete-item-description-origin">
                    <p class="athlete-item-description-title">ORIGINAIRE DE</p>
                </div>
            </div>
            <div class="athlete-item-description-period">
                <p class="athlete-item-description-title">DATE DE NAISSANCE</p>
                <p class="athlete-item-description-text">16 juin 1989 </p>
            </div>
            <div class="athlete-item-description-birthdate">

            </div>
            <div class="athlete-item-description-handicap">
                <p class="athlete-item-description-title">HANDICAP</p>
                <p class="athlete-item-description-text">Handicapé du genou gauche suite à un accident de mobylette</p>
            </div>
            <div class="athlete-item-description-history">
                <p class="athlete-item-description-title">PALMARÈS</p>
                <p class="athlete-item-description-text">Benjamin Daviet participe à deux éditions des Jeux paralympiques, en 2014 à Sotchi où il obtient une médaille de bronze en relais du ski de fond, puis en 2018 à Pyeongchang, il remporte trois médailles en biathlon dont deux titres et une médaille d’argent, et deux en ski de fond, une de bronze et l’or du relais.</p>
            </div>
        </div>
    </div>
</div>
