
<div class="chart-container">

    <div class="chart-head">
        <h2 class="chart-title">Pourcentage d’athlètes olympiques
            et paralympiques en France</h2>
    </div>

        <p class="chart-number numtransform number-1">2925</p>
        <span class="chart-sport numtransform sport-1">Athlètes mondiaux<br> olympiques</span>

        <p class="chart-number numtransform number-2">12</p>
        <span class="chart-sport numtransform sport-2">Athlètes mondiaux<br> paralympiques</span>



    <p class="chart-number numbergroup numbergroup-1">570</p>
    <span class="chart-sport sportgroup sportgroup-1">Athlètes <br> olympiques</span>


    <p class="chart-number numbergroup numbergroup-2">12</p>
    <span class="chart-sport sportgroup sportgroup-2">Athlètes <br> paralympiques</span>


    <div class="wrap-content">
        <svg class="bar-chart">
        </svg>

        <div class="msg">
            <p class="msg-box msg-send-1">Si l’on regarde les chiffres, on peut
                s’apercevoir rapidement que le
                nombre d’athlètes paralympiques
                français est nettement moins
                important que le nombre d’athlètes
                olympique.
            </p>

            <p class="msg-box msg-send-2">Cependant, si l’on rapporte ce
                chiffre sur la totalité des sportifs de
                chaque Jeux, on remarque que la
                proportion est pratiquement la
                même !
            </p>
            <div class="send-wrap">
                <div class="user-send">
                    <img src="/assets/images/user.png" alt="">
                </div>
                <p class="msg-box msg-received">Ah oui en effet, cela s’équilibre
                    beaucoup plus lorsque que l’on
                    compare ces chiffres au nombre
                    total d’athlètes !
                </p>
            </div>


            <div class="msg-user">
                <img src="/assets/images/user.png" alt="">
            </div>

        </div>
        <button class="btn-transform">changement de graphique</button>

    </div>
</div>
