<div class="hearings">
    <div class="wrap">
        <h2 class="hearings__title">Les audiences des jeux olympiques<br>
            et paralympiques en France</h2>
        <div class="hearings-content">
            <div class="hearings-graph-wrapper">
                <div class="hearings-graph-legend">
                    <div class="hearings-graph-legend__olympic">Jeux olympiques</div>
                    <div class="hearings-graph-legend__paralympic">Jeux paralympiques</div>
                </div>
                <div class="hearings-graph"></div>
                <div class="hearings-info">En millions de téléspectateurs</div>
                <div class="hearings-graph-alert">Survole un point pour avoir la donnée exacte par pays d’accueil</div>
            </div>
            <div class="hearings-description">
                <p>Les chiffres parlent d'eux-mêmes, les jeux paralympiques sont peu visionnés en France mais nuançons.. l'année 2016 est une réelle révolution avec un record d'audience.</p>
            </div>
        </div>
    </div>
</div>
