<div class="hearings">
    <div class="wrap">
        <h2 class="hearings__title">Les audiences des jeux olympiques<br>
            et paralympiques en France</h2>
        <div class="hearings-content">
            <div class="hearings-graph-wrapper">
                <div class="hearings-graph-legend">
                    <div class="hearings-graph-legend__olympic">Jeux olympiques</div>
                    <div class="hearings-graph-legend__paralympic">Jeux paralympiques</div>
                </div>
                <div class="hearings-graph"></div>
                <div class="hearings-graph-alert">Survole un point pour avoir la donnée exacte par pays d’accueil</div>
            </div>
            <div class="hearings-description">
                <p>Faux espoir, les chiffres ont vite diminué en 2018 avec le même nombre de téléspectateurs qu’en 2014.</p>
            </div>
        </div>
    </div>
</div>
