<section class="homescreen">
    <div class="wrapper">
        <div class="homescreen-portraits">
            <div class="homescreen-manon">
                <img class="homescreen-portraits-photo" src="/assets/images/character-manon.svg">
                <h1 class="homescreen-title">Manon</h1>
                <img src="/assets/images/blob-manon.svg" class="homescreen-manon__blob">
            </div>
            <div class="homescreen-stephane">
                <img class="homescreen-portraits-photo" src="/assets/images/character-stephane.svg">
                <h1 class="homescreen-title">Stéphane</h1>
                <img src="/assets/images/blob-stephane.svg" class="homescreen-stephane__blob">
            </div>
        </div>

        <h2 class="subtitle">Aux jeux paralympiques d'hiver</h2>
        <p class="button"><a href="#conversation">Commencer</a></p>
    </div>
</section>
