<section class="homescreen">
    <div class="wrapper">
        <div class="homescreen-portraits">
            <div class="homescreen-manon">
                <div data-offset="-20">
                    <img class="homescreen-portraits-photo" src="/assets/images/character-manon.svg">
                    <h1 class="homescreen-title">Manon</h1>
                </div>
                <svg class="homescreen-manon__blob blob"
                     viewBox="0 0 600 600"
                     xmlns="http://www.w3.org/2000/svg"
                >
                    <g transform="translate(300,300)">
                        <path d="M130.1,-120.9C151.2,-77.2,139,-24.2,120.8,16.5C102.7,57.1,78.7,85.3,36.1,125.1C-6.5,164.9,-67.7,216.2,-123.6,208C-179.5,199.8,-230.1,131.9,-245.4,58C-260.7,-15.9,-240.6,-95.9,-193.8,-145.4C-147,-194.9,-73.5,-213.9,-9.5,-206.4C54.5,-198.8,108.9,-164.5,130.1,-120.9Z" fill="#2b2b2b" />
                    </g>
                </svg>
            </div>
            <div class="homescreen-stephane">
                <div data-offset="20" >
                    <img class="homescreen-portraits-photo" src="/assets/images/character-stephane.svg" >
                    <h1 class="homescreen-title">Stéphane</h1>
                </div>

                <svg class="homescreen-stephane__blob blob"
                      viewBox="0 0 600 600"
                      xmlns="http://www.w3.org/2000/svg"
            >
                <g transform="translate(300,300)">
                    <path d="M130.1,-120.9C151.2,-77.2,139,-24.2,120.8,16.5C102.7,57.1,78.7,85.3,36.1,125.1C-6.5,164.9,-67.7,216.2,-123.6,208C-179.5,199.8,-230.1,131.9,-245.4,58C-260.7,-15.9,-240.6,-95.9,-193.8,-145.4C-147,-194.9,-73.5,-213.9,-9.5,-206.4C54.5,-198.8,108.9,-164.5,130.1,-120.9Z" fill="#2b2b2b" />
                </g>
            </svg>

            </div>
        </div>

        <h2 class="subtitle">Aux jeux paralympiques d'hiver</h2>
        <p class="button"><a href="#conversation">Commencer</a></p>
    </div>
</section>
