<section class="homescreen">
    <div class="wrapper">
        <div class="portraits">
            <div class="portraits--bg">
                <img src="/assets/images/character-marie-bochet.svg">
            </div>
            <div class="portraits--bg">
                <img src="/assets/images/character-arthur-bauchet.svg">
            </div>
        </div>
        <h1 class="title">Manon et Stéphane</h1>
        <h2 class="subtitle">Aux jeux paralympiques d'hiver</h2>
        <p class="button">Commencer</p>
    </div>
</section>
