<div class="ressources">
    <h2 class="ressources--title">Index</h2>

    <div class="wrap-source">
        <div class="sources">
            <span class="sources--title">Les sources :</span>

            <span class="sources--info">Données principales</span>
            <a class="sources--link" href="https://guide.handisport.org/catalogues/catalogue_accessible/federation/statistiques-et-chiffres-cles.html">Le guide handisport - Statistiques et chiffres clés</a>

            <span class="sources--info other">Autres principales</span>
            <a class="sources--link" href="http://www.handisport.org/tous-les-sports/">Handisport - Historique Palmarès
            </a>
            <a class="sources--link" href="https://www.handisport.org/historique-palmares/">Handisport - Tous les sports</a>

            <a class="sources--link" href="https://www.lemonde.fr/sport/article/2016/09/07/les-jeux-paralympiques-de-rio-en-chiffres_4993647_3242.html">Le Monde - Les Jeux Paralympiques de Rio en chiffres
            </a>

            <a class="sources--link" href="https://france-paralympique.fr/jeux-paralympiques/">La France - Les Jeux Paralympiques
            </a>

            <a class="sources--link" href="https://www.francebleu.fr/sports/sport-d-hiver-ski-biathlon/jeux-paralympiques-qui-sont-les-athletes-de-la-delegation-francaise-1520354291">France Bleu - Sport d’hiver ski biathlon</a>

            <a class="sources--link" href="https://www.paris.fr/pages/visite-d-andrew-parsons-president-comite-international-paralympique-ipc-a-paris-5267">Handisport Paris - Les disciplines sportives</a>
        </div>



        <div class="sources">
            <span class="sources--title">TRAVAIL ÉTUDIANT</span>


            <div class="student">
                <div class="student--speciality">
                    <p class="job">Designers</p>
                    <p>Oriane De Figueiredo</p>
                    <p>Mélanie Dalla-Vecchia</p>
                    <p>Baptiste Delolme</p>

                    <div class="gobelins">
                        <img  src="/assets/images/gobelins-logo.png" alt="">
                    </div>
                </div>

                <div class="student--speciality">
                    <p class="job">Développeurs</p>
                    <p>Naël Messaoudene</p>
                    <p>Killian Sowa</p>
                    <p>Lou Batier</p>

                    <div class="gobelins">
                        <img  src="/assets/images/gobelins-annecy.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="close-index" src="/assets/images/close.png" alt="">
</div>
