<div class="popin">
    <div class="popin-background"></div>
    <div class="popin-content" id="map">
        <h2>Vous pouvez nous aider !</h2>
        <p>Malheureusement les données présentées sur le site ne sont pas disponibles pour le pays que vous avez choisis. Vous avez la possibilité de nous aider si vous détenez des données.</p>
        <div class="panel">
            <p class="button" id="closeMapPopin">Choisir un autre pays</p>
            <p class="button button-purple" id="goToForm">Renseigner des données</p>
        </div>
    </div>

    <div class="popin-content" id="end">
        <h2>Poursuivons la progression !</h2>
        <p>Même si les jeux paralympiques restent dans l'ombre des jeux olympiques et sont sous-médiatisés on a pu observer une nette progression ces dernières années. Espérons que cela continue, que des initiatives comme celle de Paris 2024 qui vise à réunir les deux événements émergent continuellement.</p>
        <div class="panel">
            <p class="button" id="goToIndex">Index</p>
            <p class="button button-purple" id="goToTop">Revenir au départ</p>
        </div>
    </div>
</div>
